/*Globals*/
$color: #000;
$font-family: Helvetica;
$font-size: 20px;
$width: 60px;
$margin: 0;

/*header*/
$list-style: none;
$align-items: center;
$text-decoration: none;
$bg-color: #f4f4f4;
$bg-color2: #939393;
$padding-2: 0px 20px;